<div class="row flex-center m-top-2">
  <div class="paper">
    <div class="section">
      <h2>Sign Up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="row m-bt-0">
          <div class="col p-bt-0 sm-12">
            <div class="form-group">
              <%= f.input :name, input_html: { class: "input-block" } %>
            </div>
          </div>
        </div>

        <div class="row m-bt-0">
          <div class="col p-bt-0 sm-6">
            <div class="form-group">
              <%= f.input :username %>
            </div>
          </div>

          <div class="col p-bt-0 sm-6">
            <div class="form-group">
              <%= f.input :email %>
            </div>
          </div>
        </div>

        <div class="row m-bt-0">
          <div class="col p-bt-0 sm-6">
            <div class="form-group">
              <%= f.input :password %>
            </div>
          </div>

          <div class="col p-bt-0 sm-6">
            <div class="form-group">
              <%= f.input :password_confirmation %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col">
            <%= f.button :button, "Sign up", class: "btn-block" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
