<%= simple_form_for tweet do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :tweet, maxlength: 140, placeholder: "What is happening?", label: false, input_html: { class: "no-resize input-block" } %>
  </div>

  <div class="row flex-right">
    <div class="col">
      <%= f.button :submit, class: "cursor-pointer" %>
    </div>
  </div>

  <%= link_to 'Cancel', tweets_path, class: "button is-dark" if render_cancel_button %>
<% end %>
