<% users.each do |user| %>
  <% if user_signed_in? %>
    <% if current_user.followed_user?(user) %>
        <%= link_to relationships_path(user), method: :delete do %>
          <button class="btn-block btn-secondary" title="Click to unfollow">
            <h5 class="m-0"><%= user.name %></h5>
            <small><%= user.username %></small>
          </button>
        <% end %>
    <% else %>
      <%= link_to relationships_path(user), method: :post do %>
        <button class="btn-block" title="Click to follow">
          <h5 class="m-0"><%= user.name %></h5>
          <small><%= user.username %></small>
        </button>
      <% end %>
    <% end %>
  <% else %>
    <button class="btn-block m-bt-1">
      <h5 class="m-0"><%= user.name %></h5>
      <small><%= user.username %></small>
    </button>
  <% end %>
<% end %>
