<!DOCTYPE html>
<html>
  <head>
    <title>MiniTwtitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation_bar' %>

    <div class="fixed-alert">
      <% if flash[:notice ]%>
        <input class="alert-state" id="alert-1" type="checkbox">
        <div class="alert alert-primary dismissible">
          <%= notice %>
          <label class="btn-close" for="alert-1">X</label>
        </div>
      <% end %>

      <% if flash[:alert ]%>
        <input class="alert-state" id="alert-1" type="checkbox">
        <div class="alert alert-danger dismissible">
          <%= alert %>
          <label class="btn-close" for="alert-1">X</label>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
